.month {
	font-size: 2rem;
	color: rgb(84, 84, 84);
	font-style: italic;
}

table.calendar {
	width: 100%;
}

div#calendar-previous {
	padding-left: 6%;
	padding-right: 2%;
}

div#calendar-actual {
	padding-left: 2%;
	padding-right: 2%;
}

div#calendar-next {
	padding-left: 2%;
	padding-right: 6%;
}

table.calendar th,
table.calendar td {
	border: 1px solid rgb(100, 100, 100);
	text-align: center;
}

table.calendar th {
	background-color: rgb(172, 172, 172);
	color: black;
}

table.calendar {
	font-size: 1.2rem;
}

td.calendar-disabled {
	opacity: 0.3;
}

table.calendar tbody tr:hover {
	cursor: pointer;
}

table.calendar tr:hover td.calendar-enabled {
	background-color: rgb(255, 193, 6);
	color: black;
	font-weight: bold;
}

table.calendar tr:hover td.calendar-disabled {
	background-color: black;
	color: white;
}

table.calendar td.calendar-focus {
	background-color: rgb(255, 165, 51);
}

table.calendar td.calendar-today {
	background-color: rgba(255, 165, 51, 0.7);
	font-weight: bold;
	color: rgb(150, 23, 46);
}

table.calendar td.calendar-sunday {
	background-color: rgb(150, 23, 46);
	color: white;
}



table.schedule th,
table.schedule td {
	border: 1px solid rgb(84, 84, 84);
	text-align: center;
}

table.schedule th {
	background-color: rgb(172, 172, 172);
	color: black;
}

table.schedule td[day] {
	width: 11%;
}

table.schedule {
	font-size: 15px;
	width: 100%;
	color: black;
}

table.schedule .empty-period {
	min-height: 3rem;
	display: flex;
	cursor: pointer;
}

table.schedule .empty-period:hover {
	background-color: rgb(255, 193, 6);
	font-weight: bold;
}

table.schedule .empty-period span {
	margin: auto;
	opacity: 0;
}

table.schedule .empty-period:hover span {
	opacity: 1;
}

table.schedule .reservation {
	height: 3rem;
	border: 1px rgb(150, 23, 46) solid;
	cursor: pointer;
	background-color: rgb(255, 165, 51);
}

table.schedule .reservation-editable:hover {
	background-color: #1D92AF;
	border-color: #135f72;
}

table.schedule .reservation>div {
	height: 100%;
}

table.schedule .reservation .reservation-period {
	padding: 0%;
}

table.schedule .reservation .reservation-period div {
	font-size: 70%;
}

table.schedule .reservation .reservation-title span {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	width: 100%;
}



#left-side {
	padding-left: 0%;
	padding-right: 0%;
}

table.reservation {
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
}

table.reservation td,
table.reservation th {
	border: 1px solid rgb(172, 172, 172);
	text-align: center;
	height: 18px;
}

table.reservation td {
	background-color: #fff;
}

table.reservation .hour {
	width: 8%;
}

#reservation-elements {
	position: absolute;
	left: 12.2%;
	top: 0%;
	width: 82.8%;
}

#reservation-elements>div {
	position: absolute;
	width: 100%;
	border-radius: 3px;
}

#reservation-elements>div.reservation {
	background-color: rgb(255, 165, 51);
	display: flex;
	border: 1px rgb(150, 23, 46) solid;
	cursor: pointer;
}

#reservation-elements span {
	margin: auto;
}

#reservation-elements #new-reservation {
	background-color: #1D92AF;
	border-color: #198099;
	display: flex;
	cursor: pointer;
}

#reservation-elements #new-reservation>div {
	position: absolute;
}

#reservation-elements #new-reservation .superposition {
	background-color: red;
	width: inherit;
}